h1 
{
    text-decoration: underline;
    font-family: "lobster";
    margin-top: 3%;
    font-size: 22px;
}

#outer 
{
    border-radius: 10px;
    border: 1px solid coral;
    height: 200px;
    width: 98%;
    margin:25% auto;
    justify-content: space-around;
    border-style: solid;
    background-color: white;
}

#inner 
{
    border-radius: 10px;
    border: 1px solid coral;
    height: 30%;
    width: 70%;
    margin: 10% auto;
    text-align: center;
    border-style: solid;
    background-color: black;
}

.btn 
{
    display: flex;
    padding: 5px 9px;
    width: 180px;
    font-weight: lighter;
    font-family: "Rajdhani";
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 20px;
    justify-content: center;
    outline: none;

}

.btn-full 
{
    background-color: white;
    color: black;
    margin: 20% auto;

    border: 2px solid #fff;
}

.one 
{
    background-color: white;
    color: black;
    height: 50px;

    margin-left: 5%;
    margin: 20% auto;
    border: 2px solid #fff;
}

#b 
{
    justify-content: center;
    display: flex;
    box-sizing: 50% 50%;

}

.media,h2
{
    color:gray;
}
.mr-3
{
    width:180px;
    height:170px;
    border-radius:5px;
    box-shadow:2px 2px 2px 2px gray;
}
  h2
  {
    margin-top:5%;
  }
  h2,.mt-0,p
  {
    text-align:center;
    font-weight:bold;
    text-shadow:0px 1px 1px #ADD8E6;
  }
  #main
  {
    border:1px dotted #ADD8E6;
    margin:5px auto;
  }
  @media only screen and (min-width : 600px){
    #main{
        height: 50%;
        width: 70%;
    }
    #outer{
        height: 200px;
        width: 88%;
    }
  }